$link-text-red: #ED2E38;
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1;
}
h1 {
	font-size: 2.8rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 2.4rem;
}
p {
	font-size: 1.6rem;
}
ol, ul {
	list-style: none;
}
a {
	color: white;
	transition: 1s;
	&:hover {
		color: unset;
		opacity: 0.8;
		text-decoration: none;
	}
}
button:hover {
	opacity: 0.8;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
.base-input,
.form-control {
	font-size:1.6rem;
}
header a {
  color: $link-text-red;
  &:hover {
    color: $link-text-red;
    text-decoration: none;
  }
}
.btn {
	max-width: 300px;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	font-size: 1.6rem;
	display: block;
	&:hover {
		opacity: 0.8;
	} 
}
.line-border {
	position: relative;
	&::after,
	&::before {
		content: '';
		width: 45%;
		height: 1px;
		background-color: #cccccc;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	&::after {
		left: 0;
	}
	&::before {
		right: 0;
	}
}
.btn-fb {
	background-color: #3b5998!important;
}
.btn-gl {
    background-color: #dd4b39!important;
}
.btn-fb,
.btn-gl {
	color: white;
	.fa {
		margin-right: 5px;
	}
	&:hover {
		color: white;
	}
} 
