$link-text-red: #ED2E38;
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #707070;
	font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1;
}
h1 {
	font-size: 2.8rem;
}
h2 {
	font-size: 2.6rem;
	margin-bottom: 1.4rem;
}
h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
h1, h2 {
	font-weight: bold;	
}
dt {
	font-size: 1.8rem;
	font-weight: bold;
}
p {
	font-size: 1.6rem;
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
a {
	color: white;
	transition: 1s;
	&:hover {
		color: unset;
		opacity: 0.8;
		text-decoration: none;
	}
}
i {
	color: white;
}
button:hover {
	opacity: 0.8;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
body,.wrraper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrraper {
	margin-bottom: 150px;
}
/* no-gutters Class Rules */
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
 }
.container {
	max-width: 1088px;
	margin: 0 auto;
}
.base-input,
.form-control {
	font-size:1.6rem;
}
header a {
  color: $link-text-red;
  &:hover {
    color: $link-text-red;
    text-decoration: none;
  }
}
.green-link {
	color: #23824A;
	font-weight: bold;
	&:hover {
		color: #23824A;
	}
}
.btn {
	max-width: 200px;
    width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    font-size: 1.6rem;
    display: block;
	&:hover {
		opacity: 0.8;
	} 
}
.line-border {
	position: relative;
	&::after,
	&::before {
		content: '';
		width: 45%;
		height: 1px;
		background-color: #cccccc;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	&::after {
		left: 0;
	}
	&::before {
		right: 0;
	}
}
.btn-fb {
	background-color: #3b5998!important;
}
.btn-gl {
    background-color: #dd4b39!important;
}
.btn-fb,
.btn-gl {
	max-width: 300px;
	color: white;
	.fa {
		margin-right: 5px;
	}
	&:hover {
		color: white;
	}
} 
.user-avator {
	text-align: center;
	img {
		width: auto;
		height: 80px;
		margin-bottom: 10px;
		padding: 5px;
		border: 1px solid #cccccc;
		border-radius: 100%;
	}
}
@media screen and (max-width: 468px) {
	.wrraper {
		margin-top:50px;
	}
}