.main-visual {
    height: 500px;
    padding-top: 100px;
    background: url("/images/mv-home.jpg") center;
    background-size: cover;
    .contact-form {
        max-width: 400px;
        padding: 50px;
        background-color: white;
    }
}
section {
    li {
        margin-bottom: 30px;
        h3 {
            margin: 5px 0;
        }
    }
    .thumb-nail {
        height: 200px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }
}