.main-visual {
    height: 500px;
    padding-top: 100px;
    background: url("/images/mv-home.jpg") center;
    background-size: cover;
    .search-form {
        max-width: 400px;
        padding: 50px;
        background-color: white;
        border-radius: 5px;
        .form-group {
            margin-bottom: 20px;
        }
        label {
            margin-bottom: 10px;
        }
    }
}