.carousel-wrap {
    .carousel {
        .slide {
            div {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 600px;
            }
            img {
                display: none;
            }
        }
        .thumb.selected, .thumb:hover {
            border: 3px solid #ED2E38;
        }

        .thumbs {
            text-align: center;
        }
        .thumb {
            width: 100%;
            max-width: 150px;
            border-radius: 5px;
            img {
                height: 100px;
                border-radius: 5px;
            }
        }
        @media screen and (min-height: 1000px) {
            .slide {
                div {
                    height: 800px;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            .slide {
                div {
                    height: 400px;
                }
            }
        }
        @media screen and (max-width:468px) {
            .thumb {
                max-width: 80px;
                img {
                    height: 60px;
                }
            }
            .slide img {
                width: auto;
                height: 300px;
            }
        }
    } 
}
.room-info {
    margin-top: 70px;
    section {
        padding: 30px 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
        &:last-child {
            border-bottom: none;
        }
    }
    h2, dt {
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: unset;
    }
    iframe {
        margin-top: 20px;
    }
    div {
        dl {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .green-link {
        font-size: 1.6rem;
    }
    .room-titles {
        > div {
            margin-bottom: 50px;
        }
        > div:last-child {
            margin-bottom: 10px;
        }
    }
    .room-describe {
        h2 + p {
            margin-bottom: 30px;
        }
    }
    .room-amenities {
        ul {
            margin-top: 10px;
            li {
                margin-bottom: 5px;
            }
        }
    }
    @media screen and (max-width:1024px){
        margin-top: 0;
        .room-titles {
            .user-avator {
                margin-bottom: 30px;
            }
            > div {
                margin-bottom: 30px;
            }
        }
    }
}