.post-form {
    input {
        cursor: pointer;
    }
    .modal-content {
        max-width: 1088px;
        margin: 0 auto 30px;
        padding: 40px;
    }
    label {
        margin-bottom: 5px;
    }
    .description-area {
        textarea {
            min-height: 100px;
        }
    }
    .input-list {
        > li {
            margin-bottom: 20px;
            > ul li {
                margin-bottom: 10px;
            }
        }
    }
    .form-check {
        .radio-title {
            margin-left: -1.25rem;
        } 
        label {
            margin-left: 10px;
            vertical-align: middle;
        }
    }
    .react-datepicker-wrapper {
        width: 100%;
    }
    .custom-file {
        margin-bottom: 20px;
        input {
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 2;
            height: calc(1.5em + .75rem + 2px);
            padding: 20px;
            opacity: 0;
        }
    }
    .options {
        label {
            margin-left: 5px;
        }
    }
}