header {
    margin: 0!important;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,.16);
    .sp-logo {
        display: none;
    }
    .navbar-brand {
        display: block;
        color:#666666;
        img {
            width: auto;
            height: 30px;
        }
        &:hover {
            color: #666666;
        }
    }
    .navbar-nav {
        align-items: center;
        position: relative;
    }
    .nav-item {
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    }
    .nav-link {
        color: #666666;
        cursor: pointer;
        &:hover  {
            color: #666666;
            opacity: .8;
        }
    }
    .user-link {
        padding: 5px;
        &:hover {
            opacity: unset;
        }
        img {
            width: auto;
            height: 30px;
            border-radius: 100%;
            border: 1px solid #ccc;
        }
        .user-drop-down {
            width: 100%;
            max-width: 300px;
            position: absolute;
            top: 45px;
            right: 0;
            background-color: white;
            padding: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            li {
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc; 
            }
            &:hover {
                opacity: unset;
            }
        }
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 300;
        background-color: #fff;
        .sp-logo {
            padding: 10px 0 0 10px;
            display: block;
            color:white;
            img {
                width: auto;
                height: 30px;
            }
            &:hover {
                color: white;
            }
        }
        .navbar-expand-sm .navbar-nav {
        display: block;
        text-align: center;
        }
        .navbar-brand {
            margin: 0 auto 30px;
        }
        .global-nav {
        position: fixed;
        right: -320px;
        top: 0;
        width: 300px;
        height: 100vh;
        padding-top: 40px;
        background-color: #fff;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto;
        }
        .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px; 
        height: 40px; 
        cursor: pointer;
        z-index: 300;
        }
        .global-nav__list {
            width: 100%;
            text-align: center;
        }
        .nav-item {
            margin-left: 0; 
            padding: 20px 0; 
            border-bottom: solid 1px white;
            a {
                padding: 0;
            }
        }
        .hamburger__line {
        position: absolute;
        right: 11px;
        width: 18px;
        height: 1px;
        background-color: #111;
        transition: all .6s;
        }
        .hamburger__line--1 {
        top: 14px;
        }
        .hamburger__line--2 {
        top: 20px;
        }
        .hamburger__line--3 {
        top: 26px;
        }
        .black-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
        cursor: pointer;
        }
        .nav-open.global-nav {
        right: 0;
        }
        .nav-open .black-bg {
        opacity: .8;
        visibility: visible;
        }
        .nav-open .hamburger__line--1 {
        transform: rotate(45deg);
        top: 20px;
        }
        .nav-open .hamburger__line--2 {
        width: 0;
        right: -50%;
        }
        .nav-open .hamburger__line--3 {
        transform: rotate(-45deg);
        top: 20px;
        }
    }
}